
  body {
    background-color: rgb(198, 238, 239);

     font-family: 'FeedjiqueRegular';
     font-weight: normal;
     font-style: normal;
  }

  p, a {
    margin-bottom: 2em;
    text-decoration:underline;
    color: inherit;
  }
}
.text-container {
  background-color: #88ad77;
  padding: 4em;
  margin: 3em;
}
p {
   font-family: 'FeedjiqueRegular';
   font-weight: normal;
   font-style: normal;
}
