body{
  background-color: rgb(198, 238, 239);

}
  #ex{

    font-family: 'PT Sans', sans-serif;
     font-weight: normal;
     font-style: normal;
  }

#title {
   font-family: 'OuroborosRegular' sans-serif;
   font-weight: normal;
   font-style: normal;
}
