body{
  background-color: rgb(198, 238, 239);

}
  #ex{

    font-family: 'PT Sans', sans-serif;
     font-weight: normal;
     font-style: normal;
  }

#title {
font-family: 'Major Mono Display', monospace;
}
p{
  font-family: 'PT Sans', sans-serif;

}
